<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#if react}}

        <style id="jss-server-side">{{{react.apps.css}}}</style>
    {{/if}}
    {{#if title}}
        <title>{{title}}</title>
    {{else}}
        <title>{{title}}</title>
    {{/if}}
</head>

<body>
    {{{body}}}
    {{#if dev}}
        <script src="/dev.js"></script>
    {{/if}}
</body>

</html>