{{#each obj as | Spotify |}}
    {{!-- type is in the container object for a specific type of results i.e. topArtists --}}
    {{#blockParams (formatType @key) as |type|}}
    {{#blockParams (formatStringForDiv type) as |formattedType|}}
    <div id="{{formattedType}}-container" class="spotify-results">
        {{#each this}}
        <div>
            {{!-- formatDuration is for the time period of results i.e. sixMonths --}}
            <h1>{{type}} - {{formatDuration @key}}</h1>
            <div class="results-container">
                {{#each this}}                        
                    <div id='{{formattedType}}-{{offsetIndexByOne @index}}' class="result-container">
                        <a class="spotify-uri" href={{this.uri}}>
                            <img class="image" src={{this.image}}>    
                        </a>                
                        <div class="text-container">
                            <ul>
                                <li>{{this.name}}</li>
                                <li>popularity : {{this.popularity}}</li>
                                <li>{{this.genres}}</li>
                            </ul>                       
                            <p>{{offsetIndexByOne @index}}</p>                                                
                        </div>                
                    </div>                  
                {{/each}}
            </div> 
        </div>
        {{/each}}
    </div>
    {{/blockParams}}
    {{/blockParams}}
{{/each}}