<script src="scripts/main.js"></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}, Please Login Below</p>

<div id="login-wrapper">
    <a href="/login">Login</a>
</div>

<!-- {{#if SpotifyLogin}}
    <script>    
        var accessToken = '{{SpotifyLogin.accessToken}}';
        var refreshToken = '{{SpotifyLogin.refreshToken}}';
        var expiry = "{{SpotifyLogin.expiryIn}}";
        accessToken ? Token.setAccessToken(accessToken) : console.error('access token is ' + accessToken);
        refreshToken ? Token.setRefreshToken(refreshToken) : console.error('refresh token is ' + refreshToken);
        expiry ? Token.setAccessTokenExpiry(expiry) : console.error('expiry time is ' + expiry);            
    </script>
{{/if}} -->

<!-- <script>    
    if (window.location.href.indexOf('q') > -1) {
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }    
        var accessToken = getParameterByName('access-token');
        if(accessToken){
            var refreshToken = getParameterByName('refresh-token');
            var expiry = getParameterByName('expiry-in');
            accessToken ? Token.setAccessToken(accessToken) : console.error('access token is ' + accessToken);
            refreshToken ? Token.setRefreshToken(refreshToken) : console.error('refresh token is ' + refreshToken);
            expiry ? Token.setAccessTokenExpiry(expiry) : console.error('expiry time is ' + expiry);
        }
    }
</script> -->


<!-- <script>
    var accessToken = Token.getValidAccessToken();
    if(accessToken){
        var artists = document.getElementById('artists');
        artists.style.display = 'block';
        artists.addEventListener('click', function(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'artists');
            xhr.setRequestHeader('Authorization','Bearer ' + accessToken);
            xhr.onload = function() {
                if(this.status === 200){
                    console.log(this.responseText);
                }
            }
            xhr.send();
        })
    }
    function renderArtists(artists){
        console.log(artists);
    }
</script> 
-->